<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello, here are your recent order details</h2>
    
    <h3>You purchased:</h3>
    <ul>
      <% @order.line_items.each do |line_item| %>
        <li>
          <p>Item: <%= line_item.product.name %></p>
          <p>Quanity: <%= line_item.quantity %></p>
          <p>Price per item: <%= line_item.item_price %></p>
        </li>
      <% end %>
    </ul>

    <h4>Order Total: <%= number_to_currency(@order.total) %></h4>
  </body>
</html>